# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/

# Banco de dados local
*.db
*.sqlite3

# Node_modules & yarn
node_modules/
yarn-error.log

# Variáveis de ambiente
.env
ENV/

# Editor
.vscode/
.idea/

# Docker
*.log

# Sistema
.DS_Store
